html {
  scroll-behavior: smooth;
}

body {
  background-color: #572364;
  text-align: center;
  font-family: poppins, sans-serif;
  justify-content: center;
  
  }

section#content {
  margin-left: 200px;
  align-items: center;
  height: 100%;
  justify-content: center;
} 


img {
  border-radius: 10px;
}

h2 {
  color: #2d6447;
}

p {
  color: #572364;
}

#habilidades {
  display: flex;
}
